
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #d0e3f5;
  }

  main {
    flex: 1 0 auto;
  }
.navbg, .footer_bg, .formbg {
    background-color: #426f9d;
}  
.navtext {
    color: black;
} 

nav .brand-logo {
    padding-left: 5px;
}
.navdropdown {
    background-color: rgb(66, 111, 157) !important;
    overflow-x: hidden;
}

.dropdown-content li>a, .dropdown-content li>span {
    
    color: white;
    font-size: 14px;
    
}
.search_text {
    color: white;
}
div#placeholder {
    color: black!;
}
.sidenav li>a {
    padding:0 32px !important
}
.collapsible-body>ul>li>a {
    padding: 0 48px !important;
    font-weight: 400 !important;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.form_label {
    color: #426f9d;
}  
.card.small {
    height: 300px;
    width: 250px;
    margin-left: -10px;
    margin-bottom: 0;
}

.login {
     background-color: #d0e3f5;
}
.flash-msg {
    line-height: 3;
    padding: 3rem;
    background-color: #769fd3;
    border: 0;
}
.hero-header {
    margin-left: 5%;
}
.hero_caption {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    color: black;  
}
.search_form {
    top: 50%;
    position: absolute;
    background-color: #426f9d;
}
#about-section {
    margin: 1% 3%;
    padding:1%;
    margin-left: 5%;
    
}
.services {
    margin-left: 10%
}
.card {
    width: 270px;
    height: 300px;
   
}

.reviews {
    width: 270px;
}

.page-footer {
    bottom: 0;
}