
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255 255 255 / 70%);
}
main {
    flex: 1 0 auto;
}
.navbg, .footer_bg, .formbg {
    background-color: #426f9d;
}  
.navtext {
    color: black;
} 
nav .brand-logo {
    padding-left: 5px;
}
.navdropdown {
    background-color: rgb(66, 111, 157) !important;
    overflow-x: hidden;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: black;
    font-size: 14px;
}
.sidenav li>a {
    padding:0 32px !important
}
.collapsible-body>ul>li>a {
    padding: 0 48px !important;
    font-weight: 400 !important;
}
.search_text {
    color: white;
}
div#placeholder {
    color: black!;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.add_contact {
    margin: 5px;
    padding: 5px;
}
.form_label {
    color: #426f9d;
}  
p {
    line-height: 2rem;
    font-size: 16px;
}
.card.small {
    height: 450px;
    width: 300px;
    margin-left: -10px;
    margin-bottom: 0;
    background-color: #426f9d;
}


.flash-msg {
    line-height: 1;
    padding: 1rem;
    background-color: rgb(255 255 255 / 70%);
    border: 0;
}
.hero-header {
    margin-left: 5%;
}
.hero_caption {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    color: black;  
}
.search_form {
    top: 50%;
    position: absolute;
    
}
.search-input {
    background-color: #426f9d;
}
.autocomplete-content {
    color: black!important;
}
.btn {
    background-color: #f3b61b!important;
    color: white;
}
.fa-star {
    color: #cb120d
}
#about-section {
    margin: 1% 3%;
    padding:1%;
    margin-left: 5%;
    
}
.services {
    margin-left: 10%
}
.card {
    
    margin: 10px;
    background-color: #426f9d;
   
}
.card-title {
    
    text-decoration: underline;
    text-transform: uppercase;
}
.card-content p {
    padding: 10px;
    margin: 5px;
}
.contactcards {
    margin: 10px!important;
}
.contact_icon {
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 50%;
}
.reviews {
    width: 300px;
    margin-left: -4%;
    
    
}
.collapsible-header {
    background-color: #426f9d;
}
.page-footer {
    bottom: 0;
}

.avgRating {
    font-size: 20px;
    font-weight: 500;
    background-color: #cb120d;
    border-radius: 50%;
    color: white;
    padding: 10px;
}
@media (max-width: 280px) {
    .search_form {
        top: 50%;
    }
    .card.small {
        width: 230px;
        margin-left: -10px!important;
    }
    .reviews {
        width: 230px;
    }
    .main-heading1 {
        font-size: 28px;
    }
    .search_form {
        width: 280px;
    }
    .main-heading2 {
        display: none;
    }
    .services {
        margin-left: 20px;
    }
    .services-header h2, .add_contact h4, .edit_contact h4 {
        font-size: 24px;
    }
    input, optgroup, select, textarea {
        font-size: 8px!important;
    }
    .search_text {
        font-size: 14px;
    }
    
    
}
    
@media (min-width: 320px) {
    .search_form {
        top: 52%;
    }
    .card.small {
        width: 280px;
        margin-left: -20px!important
    }
    .reviews {
        width: 280px;
        margin-left: -20px!important
    }
    .main-heading2 {
        display: none;
    }
    .services {
        margin-left: 20px;
    }
    .services-header h2 {
        font-size: 30px;
    }
    .services-header h2, .add_contact h4, .edit_contact h4 {
        font-size: 30px;
    }
    input, optgroup, select, textarea {
        font-size: 12px!important;
    }
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width: 360px) {
    .search_form {
        top: 45%;
    }
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width: 375x) and (max-width: 415px) {
        .search_form {
            top: 40%;
        }
        .btn {
            margin-left: 5px;
            margin-right: 5px;
        }
}
@media (min-width: 540px) {
   
    .main-heading2 {
        display: block;
    }
    .search_form {
        top:60%
    }
    .search_text {
        font-size: 20px;
    }
    .services {
        margin-left: 70px;
    }
    input, optgroup, select, textarea {
        font-size: 16px!important;
    }
    .contacts {
        margin-left: 40px;
    }
    .card.small {
        width: 400px;
        
    }
    .reviews {
        width: 400px;
        
    }
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
    p {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .hero_caption {
        top: 15%;
    }
    .main-heading1 {
        font-size: 44px;
    }
    .main-heading2 {
        font-size: 36px;
    }
    
    .search_form {
        width: 100%;
        top: 45%;
    }
    input, optgroup, select, textarea {
        font-size: 24px!important;
        line-height: 5rem;
    }
    .services {
        margin-left: 50px;
    }
}
@media (min-width: 1024px) {
    .hero_caption {
        top: 20%;
    }
    .main-heading1 {
        font-size: 48px;
    }
    .main-heading2 {
        font-size: 38px;
    }
    
    .search_form {
        width: 100%;
        top: 45%;
    }
    input, optgroup, select, textarea {
        font-size: 30px!important;
        
    }
    .contacts {
        
            margin-left: -110px!important;
            margin-right: -110px!important;
    }

    .card.small {
        width: 300px;
        
    }
    .reviews {
        width: 300px;
        
    }
    .add_contact, .edit_contact, .add_review {
        margin-top: 15%
    }
}
@media (min-width: 1080px) {
    .hero_caption {
        top: 20%;
    }
    .main-heading1 {
        font-size: 48px;
    }
    .main-heading2 {
        font-size: 38px;
    }
    
    .search_form {
        width: 100%;
        top: 45%;
    }
    input, optgroup, select, textarea {
        font-size: 30px!important;
        
    }
    .contacts {
        
        margin-left: 0;
        margin-right: 0;
}
.card.small {
    width: 400px;
    
}
.reviews {
    width: 400px;
    
}

}