<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>MeerCQ</title>
</head>
<body>

    <header>
        <!-- services drpdown menu on navbar -->
        <ul id="dropdown1" class="dropdown-content black black-text navdropdown">
            <li><a href="{{ url_for('electricians') }}">Electricians</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('plumbers') }}">Plumbers</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('carpenters') }}">Carpenters</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('painters') }}">Painters</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('gardeners') }}">Gardeners</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('whitegoods') }}">Whitegoods</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('cleaners') }}">Cleaners</a></li>
        </ul>

        <div class="navbar-fixed">
        <!-- top navbar -->
		<nav>
			<div class="nav-wrapper navbg navtext">
				<a href="{{ url_for('home') }}" class="brand-logo">MeerCQ</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down" id="navbar-items">
                    <li class=active><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('home', _anchor='about-section') }}">About</a></li>
                    <li><a class="dropdown-trigger navdropdown" href="#!" data-target="dropdown1">Services
                        <i class="fas fa-caret-down services-icon"></i></a></li>
					{% if session.user %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
        </nav>
        </div>
        

        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">MeerCQ</h4></li>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('home', _anchor='about-section') }}">About</a></li>
                    <li>
                        <ul class="collapsible">
                            <li>
                                <a class="collapsible-header">Services<i class="fas fa-caret-down right"></i></a>
                                <div class="collapsible-body">
                                    <ul id="" class="">
                                        <li><a href="{{ url_for('electricians') }}">Electricians</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('plumbers') }}">Plumbers</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('carpenters') }}">Carpenters</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('painters') }}">Painters</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('gardeners') }}">Gardeners</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('whitegoods') }}">Whitegoods</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('cleaners') }}">Cleaners</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
					{% if session.user %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
        </ul>
        
    </header>
    <main>
        <div class ="flash-msg">
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <h5 class="center-align">{{ message }}</h5>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    {% block content %}

    {% endblock %}
    </main>
     
    <footer class="page-footer footer_bg">
        <div class="container footer_bg">
            <div class="row">
            <div class="col s12 l4">
                <h5 class="copyright">@ 2021 copyright </h5>
            </div>
            <div class="col s12 l4">
                <h5 class="center-align meercq"> MeercQ</h5>
            </div>
            <!-- Social media links -->
            <div class="col s12 l4">
                <p class="center-align">
                    <span>
                        <a target="_blank" href="https://www.instagram.com/">
                        <i class="fab fa-instagram links" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span></a>
                    </span>
                    <span>
                        <a target="_blank" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f links" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span></a>
                    </span>
                    <span>
                        <a target="_blank" href="https://www.twitter.com/">
                        <i class="fab fa-twitter links" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span></a>
                    </span>
                    <span>
                        <a target="_blank" href="https://www.linkedin.com/">
                        <i class="fab fa-linkedin links" aria-hidden="true"></i>
                        <span class="sr-only">Linkedin</span></a>
                    </span>
                </p>
            </div>
            </div>
        </div>
    </footer>
    
    
    <!-- script for jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>

    <!-- script for materialize CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- custom script file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>