{% extends "base.html" %}
{% block content %}

    <h2>Carpenters</h2> <p>Available contacts: {{ count }}</p>
        
        <div class="row">
            {% for contact in contacts %}
                <div class="col s12 m4 l3 contact">
                    <div class="card medium blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"><strong>{{ contact.company_name }}</strong></span>
                            <p>Mobile: {{ contact.mobile }} </p>
                            <p>Email: {{ contact.email }}</p>
                            <p>URL: {{ contact.url }}</p>
                            <p>Address: {{ contact.address }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}