{% extends "base.html" %}
{% block content %}   

    <div class="row card-panel grey lighten-5">
        <h4 class="center-align">EDIT CONTACT</h4>
        <form class="col s12" method="POST" action="{{ url_for('edit_contact', contact_id=contact._id) }}">
            <!-- service_type selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="service_type" name="service_type" class="validate" required>
                        <option value="" disabled>Choose a Service</option>
                        {% for service in services %}
                            {% if service.service_type == contact.service_type %}
                                <option value="{{ service.service_type }}" selected>{{ service.service_type }}</option>
                            {% else %}
                                <option value="{{ service.service_type }}" >{{ service.service_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="service_type">Service Type</label>
                </div>
            </div>
            <!-- task name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-building prefix light-blue-text text-darken-4"></i>
                    <input id="company_name" name="company_name" minlength="5" maxlength="50" type="text" class="validate"
                        value="{{ contact.company_name }}" required>
                    <label for="comapany_name">Company Name</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-phone-alt prefix light-blue-text text-darken-4"></i>
                    <input id="mobile" name="mobile" type="tel" class="validate"
                        value="{{ contact.mobile }}" required>
                    <label for="mobile">Contact Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope-square prefix light-blue-text text-darken-4"></i>
                    <input id="email" name="email" type="email" class="validate"
                        value="{{ contact.email }}"required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                 <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt prefix light-blue-text text-darken-4"></i>
                    <input id="address" name="address" type="text" class="validate"
                        value="{{ contact.address }}" required>
                    <label for="address">Address</label>
                </div>
            </div>
            <div class="row">
                 <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix light-blue-text text-darken-4"></i>
                    <input id="url" name="url" type="text" class="validate"
                        value="{{ contact.url }}" required>
                    <label for="url">Website</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <button type="submit" class="btn-large formbg text-shadow">
                        Update Contact <i class="fas fa-edit right"></i>
                    </button>
                </div>
                <div class="col s6 center-align">
                    <button type="button" class="btn-large formbg text-shadow" onclick="window.history.go(-1);">
                        Back<i class="fas fa-angle-left right"></i></a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}