{% extends "base.html" %}
{% block content %}
    <div class="section callout">
        <div class="row">
            <div class="col s12 hero-text">
                <h4 class="center-align">Get things fixed without Hassel.</h4>
                <h5 class="center-align">Find electricians, plumbers and other handymen professionals for all your
                    small jobs in and around the
                    house!
                </h5>
            </div>
            <div class="row">
                <div class="col s12 card-panel grey lighten-3 form-search">
                    <form action="{{ url_for('search') }}" method="post" class="col s12 grey lighten-3">
                        <div class="row valign-wrapper center-align">
                            <div class="input-field col s12 m8">
                                <i class="fas fa-search prefix grey-text text-darken-3"></i>
                                <input type="text" name="query" id="query" minlength="3" class="validate"
                                    placeholder="I need an eg:electrician" required>
                                <label for="query">Search </label>
                            </div>
                            <div class="col s12 m4">
                                <button type="submit" class="grey darken-3 btn text-shadow">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
        
            <div class="section id="about-section">
                <h2 class="center-align">About us</h2>
                <p> We gather recommendations shared in public conversations on social media and
                    create business listings for recommended pros. We help you find
                    easy referrals for various services in one handy location. Choose a contact
                    and call the pro that you need.
                </p>
            <div>
        

        
            <div class="section" id="services-section">
                <h2 class="center-align">services</h2>
                <p> We have contacts listed for variety of services such an electricians, plumbers, painters, Carpenters,
                    Gardeners,
                    whitegoods and Cleaners.
                </p>
                <div class="row">
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('electricians')}}"><img src="../static/images/electrician.jpg"
                                    class="circle"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('plumbers')}}"><img src="../static/images/plumber.jpg" class="circle"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('painters')}}"><img src="../static/images/painter.jpg" class="circle"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{ url_for('carpenters') }}"><img src="../static/images/carpenter.jpg" class="circle"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('gardeners')}}"><img src="../static/images/gardener.jpg" class="circle"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('whitegoods')}}"><img src="../static/images/whitegoods.jpg" class="circle"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3 services"></div>
                    <div class="col s12 m4 l3 services">
                        <div class="service">
                            <a href="{{url_for('cleaners')}}"><img src="../static/images/cleaner.jpg" class="circle"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 services"></div>
                </div>
        
{% endblock %}