{% extends "base.html" %}
{% block content %}

        
            <div class="hero-image">
                <img src="../static/images/home.jpg" alt="women pic">
                <div class="hero-text">

                    <h4>Get things fixed without Hassel.</h4>
                    <p>Find electricians, plumbers, handymen and other professionals for all your small jobs in and around the house!</p>
                    <form>
                        <div class="form-search">
                            <div class ="row">
                                <div class="col s8">
                                    <input class="input" type="text" name="s" placeholder="I need: eg: Electricians,Plumbers etc">
                                </div>
                                <div class="col s4">
                                    <button class="search" type="submit">search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       
        
 

{% endblock %}