{% extends "base.html" %}
{% block content %}

        
            <div class="hero-image">
                <img src="../static/images/home.jpg" alt="women pic">
                <div class="hero-text">

                    <h4>Get things fixed without Hassel.</h4>
                    <p>Find electricians, plumbers, handymen and other professionals for all your small jobs in and around the house!</p>
                    <form>
                        <div class="form-search">
                            <div class ="row">
                                <div class="col s8">
                                    <input class="input" type="text" name="s" placeholder="I need: eg: Electricians,Plumbers etc">
                                </div>
                                <div class="col s4">
                                    <button class="search" type="submit">search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class = "container about">
                <h2 class="center-align">About us</h2>
                <p> We gather recommendations shared in public conversations on social media and 
                    create business listings for recommended pros. We help you find
                    easy referrals for various services in one handy location. Choose a contact 
                    and call the pro that you need.
                 </p>
            </div>
            <div class="container">
        <h2 class="center-align">services</h2>
        <div class="row">
            <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/electrician.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Electricians</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/plumber.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Plumbers</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/painter.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Painters</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/gardener.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Gardeners</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/whitegoods.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Whitegoods</a>
                    </div>
                </div>
            </div>
             <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/carpenter.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Carpenters</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col s12 m4 l3 services">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/cleaner.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#">Cleaners</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
        
 

{% endblock %}