{% extends "base.html" %}
{% block content %}

    <h3 class="center-align black-text">REGISTER</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2 formbg" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix form_label"></i>
                        <input id="username" name="username" type="text" class="validate" minlength="5"
                               maxlength="15" pattern="^[a-zA-z0-9]${5,15}"  required >
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix form_label"></i>
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                               maxlength="15" pattern="^[a-zA-z0-9]${5,15}" required >
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-envelope-open prefix form_label"></i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large formbg white-text text-shadow">
                        <i class="fas fa-sign-in-alt"></i>Register 
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- link to login -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}